layout {

    focus-ring {
        active-color   "#a4c9ff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a4c9ff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a4c9ff"
        inactive-color "#004884"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a4c9ff80"
    }
}

recent-windows {
    highlight {
        active-color "#a4c9ff"
        urgent-color "#ffb4ab"
    }
}
